body {
    background-color: #95afc0;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 1200px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

.colors {
    display: flex;
    flex-direction: row;
}

.color {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.selected-color {
    border: 3px solid chartreuse;
}

.btns {
    margin-top: 20px;
}

.btns button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    border-color: lightsteelblue;
    background-color: mintcream;
}